Options All -Indexes
RewriteEngine on
<IfModule mod_speling.c>    
    CheckSpelling on    
</IfModule>


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]